html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%
}

body {
    margin: 0
}

.container-header {
    background-color: #5584AC;
    height: 50px;
    display: flex;
}

.menu-header {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}

.header-active {
    border-bottom: 3px solid #22577E;
    box-sizing: border-box;
}

.menu-header:hover {
    cursor: pointer;
    background-color: #22577E;
}

.container-page {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-table {
    margin-top: 40px;
    width: 70%;
    height: 530px;
    display: flex;
    flex-direction: column;
    min-width: 700px;
}

.header-table {
    background-color: #95D1CC;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.body-table {
    background-color: #e9e9e9;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.footer-table {
    background-color: #95D1CC;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.bar-table {
    background-color: #F6F2D4;
    margin-top: 5px;
    width: 100%;
    height: 40px;
    display: flex;
}

.bar-table:hover {
    cursor: pointer;
    background-color: #f1dcbb;
}

.text-header-table {
    margin-left: 20px;
    font-size: 12px;
}

.footer-table-left {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.footer-table-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.margin-left {
    margin-left: 20px;
}

.margin-top {
    margin-top: 20px;
}

.margin-right {
    margin-right: 20px;
}

.bar-table-1 {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bar-table-2 {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.container-detail-page {
    margin-top: 20px;
    min-width: 900px;
    width: 70%;
    height: 950px;
    display: flex;
    flex-direction: column;
}

.container-title-detail {
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cce7ff;
    color: #22577E;
}

.container-img-detail {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a0d2fd;
}

.container-general-info-detail {
    height: 180px;
    padding: 0 20px;
    background-color: #d5d5d5;
    font-size: 14px;
}

.container-more-info-detail {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.more-info-detail {
    height: 300px;
    width: 50%;
    padding: 0 20px;
    align-items: center;
    background-color: #f0f0f0;
    overflow: auto;
}

.pointer:hover {
    cursor: pointer;
}

.container-btn-detail {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-img-detail {
    height: 100px;
}

.main-img-detail:hover {
    height: 300px;
}

.btn1-detail {
    width: 33%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn2-detail {
    width: 34%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

::-webkit-scrollbar {
    width: 4px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: #fcfcfc;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #cecece;
    border-radius: 10px;
}
